<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <div class="my-8">
    <span class="font-bold"><%= form.label :title %></span>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="p-4 my-2 bg-red-400 border-2 border-black"><%= message %></div>
    <% end %>
  </div>
  <div class="my-8">
    <span class="font-bold"><%= form.label :body %></span>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div class="p-4 my-2 bg-red-400 border-2 border-black"><%= message %></div>
    <% end %>
  </div>
  <div class="my-8">
    <%= form.submit %>
  </div>
<% end %>
